<html>
    <body>
        <h1>期末試験の成績</h1>
        <table border="1">
            <tr>
                <th>国語</th>
                <td>90点</td>
            </tr>
            <tr>
                <th>数学</th>
                <td>92点</td>
            </tr>
            <tr>
                <th>英語</th>
                <td>85点</td>
            </tr>
            <tr>
                <th>理科</th>
                <td>94点</td>
            </tr>
            <tr>
                <th>社会</th>
                <td>80点</td>
            </tr>
        </table>
    </body>
</html>